.jumbotron {
  background-color: #ecea11;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  background-color: #f6b9b9;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
}
.reservar-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.breadcrumb-estilo {
  background-color: #7cea7c;
}
