$amarillo: #e8e821;
$rojo: #f6b9b9;
$verde: #72e872;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin desplazamiento($left, $right, $top, $bottom){
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin colorDeFondo($color){
  background-color: $color;
}

.jumbotron {
  @include colorDeFondo($amarillo);
  color: black;
  @include margenes(50px, 0px);
}

footer {
  @include desplazamiento(10px, 10px, 0, 10px);
  @include colorDeFondo($rojo);
  @include margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes(0px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.reservar-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.breadcrumb-estilo {
  @include colorDeFondo($verde);
}
