@amarillo: #ecea11;
@rojo: #f6b9b9;
@verde: #7cea7c;

.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

.desplazamiento(@left, @right, @top, @bottom){
  padding-left: @left;
  padding-right: @right;
  padding-top: @top;
  padding-bottom: @bottom;
}

.colorDeFondo(@color){
  background-color: @color;
}

.jumbotron {
  .colorDeFondo(@amarillo);
  color: black;
  .margenes(50px, 0px);
}

footer {
  .desplazamiento(10px, 10px, 0, 10px);
  .colorDeFondo(@rojo);
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(0px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.reservar-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.breadcrumb-estilo {
  .colorDeFondo(@verde);
}
